*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  font-family: 'Roboto', sans-serif
.container
  max-width: 1140px
  margin: 0 auto
.button
  outline: none
  border: none
  cursor: pointer
a
  text-decoration: none
ul
  list-style: none
.arrow
  &-right
    margin-left: 5px
.circle
  width: 20px
  height: 20px
  border: 1px solid #BCBFC2
  border-radius: 50%
