*
  margin: 0
  padding: 0
  box-sizing: border-box
@font-face
  font-family: 'Lato-Regular'
  src: url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato-Heavy'
  src: url('../fonts/Lato-Heavy.woff') format('woff'), url('../fonts/Lato-Heavy.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato-HeavyItalic'
  src: url('../fonts/Lato-HeavyItalic.woff') format('woff'), url('../fonts/Lato-HeavyItalic.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap
body
  padding-top: 190px
  font-family: 'Lato-Regular', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
  color: $grey85
.container
  max-width: 1140px
  margin: 0 auto
.container2
  max-width: 946px
  margin: 0 auto
.container3
  max-width: 750px
.button
  outline: none
  border: none
  cursor: pointer
  background-color: transparent
  &-feedback
    background-color: transparent
  &-read
    display: flex
    align-items: center
    justify-content: space-between
    width: 138px
    height: 40px
    padding-left: 25px
    padding-right: 20px
    font-family: 'Lato-Heavy', sans-serif
    font-size: 14px
    line-height: 20px
    color: $light
    background-color: $blue
    border-radius: 20px
    transition: all .3s
a
  text-decoration: none
ul
  list-style: none
.circle
  width: 20px
  height: 20px
  border: 1px solid $grey30
  border-radius: 50%
.news
  &-card
    border-radius: 10px
    overflow: hidden
.svg20
  width: 20px
  height: 20px
.svg15
  width: 15px
  height: 15px
.user30
  width: 30px
  height: 30px
  border-radius: 50%
.user45
  width: 45px
  height: 45px
  border-radius: 50%
.user60
  width: 60px
  height: 60px
  border-radius: 50%
.user75
  width: 75px
  height: 75px
  border-radius: 50%
.user90
  width: 90px
  height: 90px
  border-radius: 50%
.invalid
  position: absolute
  left: 10px
  bottom: -15px
  font-size: 12px
  line-height: 15px
  color: $red
