$light: #ffffff
$dark: #262D33
$grey: #E5E5E5
$grey05: #F5F5F5
$grey15: #D9DADB
$grey30: #BCBFC2
$grey50: #939699
$grey75: #6E99AE
$grey85: #4B5157
$grey95: #30363D
$grey100: #262D33
$greyblue: #B4D1E0
$bluegreen: #3BBDC4
$blue: #4592FF
$lightblue: #C5E4FC
$red: #FF4F52
$purple: #AC8EE3
$purple25: #E7D9FF
$orange: #FFA34D
$green: #3DC47E
