.ads
  padding-top: 30px
  padding-bottom: 315px
  background-color: $dark
  &-list
    padding: 25px 0 30px
    display: flex
    justify-content: space-between
    border-radius: 10px
    background-color: #30363D
    &__item
      padding: 0 25px
      &:not(:last-of-type)
        border-right: 1px solid #4B5157
    &__link
      color: $light
      display: flex
      align-items: center
  &__strong
    width: 154px
    height: 75px
    margin-right: 14px
    font-weight: bold
    font-size: 16px
    line-height: 25px
