.header
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: $light
  z-index: 99
  &-top
    &__primary
      position: relative
      display: flex
      align-items: center
      height: 50px
      padding: 15px 0
    &__description
      margin-left: 15px
      font-family: 'Lato-Heavy', sans-serif
      color: $grey100
    &__search
      position: relative
      display: flex
      align-items: center
      height: 20px
      margin-left: 25px
      &_input
        width: 350px
        height: 100%
        padding-left: 30px
        padding-right: 15px
        font-family: 'Lato-Regular', sans-serif
        color: $grey50
        border: none
        outline: none
        text-overflow: ellipsis
        &::placeholder
          font-family: 'Lato-Regular', sans-serif
          color: $grey50
    &__subscribe
      position: absolute
      bottom: -1px
      right: 130px
      display: flex
    &__secondary
      display: flex
      align-items: center
      height: 84px
      padding-left: 30px
    &__logo
      margin-right: auto
      margin-left: 130px
      width: 184px
      height: 40px
      &_img
        width: 100%
        height: 100%
    &__info
      margin-left: auto
      display: flex
      justify-content: space-between
      width: 292px
    &__weather
      display: flex
      align-items: center
      justify-content: space-between
      width: 74px
  &-bottom
    padding-top: 17px
    padding-bottom: 18px
    background-color: $grey100
    &__fixed
      display: none
    &__active
      display: block
    &__list
      display: flex
      justify-content: space-between
    &__item
      &_visible
        display: none
    &__link
      font-family: 'Lato-Heavy', sans-serif
      letter-spacing: 0.5px
      text-transform: uppercase
      color: $light
.subscribe
  &-background
    display: flex
    justify-content: center
    width: 66px
    height: 44px
    background-color: $grey30
  &-img
    width: 60px
    height: 40px
    margin-top: auto
  &-description
    margin-left: 10px
    padding-top: 4px
  &-title
    font-family: 'Lato-Heavy', sans-serif
    font-size: 12px
    line-height: 13px
    color: $grey100
  &-subtitle
    font-size: 12px
    line-height: 15px
    color: $grey50
.button
  &-menu
    position: relative
    display: flex
    align-items: center
    width: 115px
    height: 50px
    border-right: 1px solid $grey
    background-color: $light
  &-search
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 20px
    background-color: $light
.user
  margin-left: auto
  display: flex
  align-items: center
  color: inherit
  &__signin
    margin-left: 10px
.line
  width: 100%
  height: 1px
  background-color: $grey
.secondary
  &-director
    display: flex
    align-items: center
    justify-content: space-between
    width: 318px
    height: 100%
    &__img
      width: 100px
      height: 100%
