.newsfeed
  padding-top: 60px
  padding-bottom: 65px
  background-color: $lightgrey
  &-wrapper
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-column-gap: 30px
    grid-row-gap: 30px
  &-cards
    grid-column: 1 / 10
    grid-row: 1 / 7
    padding: 0 25px
    border-radius: 10px
    overflow: hidden
    background-color: $light
  &-card
    display: flex
    padding-top: 25px
    padding-bottom: 24px
    cursor: pointer
    transition: all .3s
    &:not(:last-child)
      border-bottom: 1px solid $grey15
    &__img
      width: 336px
      height: 195px
      margin-right: 25px
      object-fit: cover
    &__content
      position: relative
      display: flex
      flex-direction: column
      width: 437px
      &_button
        position: absolute
        display: flex
        top: 0
        right: 0
        width: 20px
        height: 20px
        background-image: url(../img/svg/bookmark.svg)
        background-repeat: no-repeat
        background-position: center
        background-color: transparent
        border: none
        outline: none
        cursor: pointer
      &_save
        background-image: url(../img/svg/bookmark-red.svg)
        background-color: transparent
        background-repeat: no-repeat
        background-position: center
    &__group
      display: block
      margin-top: 5px
      margin-bottom: 15px
      font-size: 12px
      line-height: 15px
      letter-spacing: 0.5px
      text-transform: uppercase
      &_flights
        color: $blue
      &_food,
      &_health
        color: $bluegreen
      &_science
        color: $red
      &_design
        color: $purple
    &__title
      margin-bottom: 10px
      font-family: 'Roboto Slab', serif
      font-weight: 700
      font-size: 20px
      line-height: 25px
      color: $grey100
    &__about
      margin-top: auto
      margin-bottom: 20px
    &__feedback
      display: flex
      align-items: center
      margin-bottom: 5px
      font-size: 12px
      line-height: 15px
      color: $grey50
      &_date
        margin-right: 11px
      &_comments
        margin-left: 5px
        margin-right: 10px
      &_like
        margin-left: 5px
  &-column
    grid-column: 10 / 13
    grid-row: 1 / 4
    display: flex
    flex-direction: column
    border-radius: 10px
    overflow: hidden
    background-color: $light
    &__header
      padding-top: 20px
      padding-left: 25px
      padding-bottom: 19px
      font-family: 'Lato-Heavy', sans-serif
      font-size: 14px
      line-height: 20px
      letter-spacing: 0.5px
      text-transform: uppercase
      color: $grey100
      border-bottom: 1px solid $grey15
    &__main
      padding: 0 25px
      &_card
        display: flex
        padding: 17px 0
        cursor: pointer
        transition: all .3s
        &:not(:last-child)
          border-bottom: 1px solid $grey15
      &_img
        width: 60px
        height: 60px
        margin-right: 10px
      &_content
        position: relative
        display: flex
        flex-direction: column
      &_title
        margin-bottom: 4px
      &_time
        font-size: 12px
        line-height: 15px
        color: $grey50
      &_num
        position: absolute
        top: 5px
        right: 0
        font-family: 'Lato-HeavyItalic', sans-serif
        font-size: 70px
        line-height: 50px
        color: rgba($grey100, 0.08)
    &__footer
      padding-top: 11px
      padding-bottom: 14px
      border-top: 1px solid $grey15
      font-family: 'Lato-Heavy', sans-serif
      text-align: center
      color: $grey100
.thank
  &-you
    &__title
      margin-bottom: 10px
      font-family: 'Roboto Slab', serif
      font-weight: 700
      font-size: 40px
      line-height: 50px
      color: $grey100
    &__text
      margin-bottom: 20px
      font-size: 16px
    &__button
      display: flex
      align-items: center
      justify-content: center
      width: 148px
      height: 40px
      font-family: 'Lato-Heavy', sans-serif
      color: $light
      border-radius: 20px
      background: $blue
    &__main
      display: flex
      align-items: center
      color: inherit
      &_img
        margin-right: 10px
